@use '@styles/settings/fonts';
@use '@styles/settings/colors';


.header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  .navSection {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    .navLogo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 100%;
      .logo {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
/*     .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font: fonts.$t16-medium;
        &:hover {
          color: colors.$extra-color;
          transform: scale(1.05);
        }
      }
    } */
  }
  .btnActions {
    width: 80%;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
  }
}
