@use '@styles/settings/fonts';
@use '@styles/settings/colors';


.header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  .navSection {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    .logo {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font: fonts.$t16-medium;
        &:hover {
          color: colors.$extra-color;
          transform: scale(1.05);
        }
      }
    }
  }
  .btnActions {
    width: 30%;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
}
