@use '@styles/settings/fonts';
@use '@styles/settings/colors';


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;

  .title {
    font: fonts.$t32-bold;
    margin-bottom: 64px;
  }
  .subtitle {
    font: fonts.$t24-bold;
    margin-bottom: 32px;
    text-align: left;
  }

  .committeeList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: calc(100% - 40px);
    max-width: 700px;

    .committeeItem {
      padding: 16px;
      width: 90%;
      max-width: 350px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: colors.$secondary-color;
      border-radius: 16px;
      box-shadow: colors.$box-shadow-card;
      transition: all 0.2s ease-in-out;
      position: relative;
      &:hover {
        transform: scale(1.05);
      }
      .text {
        font: fonts.$t20-medium;
      }
      .active {
        position: absolute;
        top: 16px;
        right: 16px;
      }
      .btnCommittee {
        position: absolute;
        bottom: 16px;
        right: 16px;
        background: colors.$secondary-action-color;
        color: colors.$secondary-font;
        
      }
    }
  }
}


@media (width >= 820px) {
  .page {
    .committeeList {
      max-width: 720px;
      justify-content: start;
      margin-inline: calc((100% - 720px)/2);
    }
  }
}

@media (width >= 1200px) {
  .page {
    .committeeList {
      max-width: 1090px;
      justify-content: start;
      margin-inline: calc((100% - 1090px)/2);
    }
  }
}