@use '@styles/settings/fonts';
@use '@styles/settings/colors';


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 20px;

  .subtitle {
    font: fonts.$t24-bold;
    margin-bottom: 32px;
    text-align: left;
  }

  .constitution {
    display: flex;
    justify-content: center;
    width: 90%;
    background: colors.$secondary-color;
    box-shadow: colors.$box-shadow-card;
    padding: 40px;
    border-radius: 20px;
  }
}
