// COLORS


$primary-color: #605D73;
$secondary-color: #C8C5D9;
$primary-action-color: #7E9ABF;
$secondary-action-color: #011526;
$extra-color: #733729;


// BACKGROUNDS

$primary-background: linear-gradient(0deg, rgba(1, 21, 38, 0.62) 8.89%, rgba(126, 154, 191, 0.83) 47.21%), linear-gradient(343deg, #FABFDE -3.65%, #FFF2F9 91.08%, rgba(80, 0, 0, 0.37) 106.58%, #FFF2F9 106.58%);


// FONTS

$primary-font: #141414;
$secondary-font: #FAFAFA;

// BOX-SHADOW

$box-shadow-card: rgba(47, 98, 220, 0.2) 5px 5px 15px 5px;